.tostError{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;


    padding: 0 25px ;
   

    border-radius: 12px;

    align-self: center;

    width: 200px;
    height: 100px;

    position: fixed;
    top: 15px;
    background-color: red;
    color: white;

    animation: showModal 1s ;
}

.displaNone{
    display: none;
}
@keyframes showModal {
    0%{top : -150%}
    70%{top : 30px}
    100%{top : 15px}
}